WHISPER_URL=http://192.168.1.161:8001
PROCESS_URL=http://localhost:3001 # running in cluster, change to sensible
PIPER_URL=http://localhost:8002 # running in cluster, change to sensible

# LOG_LEVEL=INFO | SUMMARY | NONE
LOG_LEVEL=SUMMARY
PIPELINE_REQUEST_TIMEOUT_SECONDS=120
